@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div cite="col-6 m-auto">
            <div class="main-content">
                <h1 class="display-4">모든 할일리스트</h1>
                <ul id="todoItems" class="list-group" />
            </div>
        </div>
    </div>
</div>
<div class="container py-3">
    <div class="row">
        <div class="col-auto">
            <label for="Id" class="visually-hidden">Password</label>
            <input type="text" class="form-control" id="Id" placeholder="Input ID">
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary mb-3" id="btnSearch">검색</button>
            <button type="button" class="btn btn-warning mb-3" id="btnDelete">삭제</button>
        </div>
    </div>
    <div class="row">
        <ul class="list-group">
            <li id="todoItem"  class="list-group-item active"></li>
        </ul>
    </div>
</div>
<div class="container py-3">
    <div class="row">
        <div class="col-6 w-100">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="할일">
            </div>
            <div class="mb-3">
                <label for="IsComplete" class="form-label">IsComplete</label>
                <select class="form-select" aria-label="true false" id="IsComplete">
                    <option selected>하나를 선택하세요</option>
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>
        </div>
        <input type="button" value="Insert" id="btnInsert" class="btn btn-warning" />
        <p id="result"></p>
    </div>
</div>
